Source: libodiosacd
Section: libs
Priority: optional
Maintainer: Robert Tari <robert@tari.in>
Build-Depends: debhelper (>= 10), gcc, libc-dev
Standards-Version: 4.1.2
Homepage: https://tari.in/www/software/libodiosacd/

Package: libodiosacd
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: SACD decoder (shared library)
 Converts SACD image files, Philips DSDIFF and Sony DSF files to
 24-bit high resolution wave files. Handles both DST and DSD
 streams.
